.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f5f7;  /* Light background for contrast */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #007cba;  /* Applied primary color */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 80%;  /* You can adjust this value */
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  /* Added subtle shadow for depth */
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  color: #000000;  /* Dark shade for text */
}

th {
  background-color: #007cba;  /* Primary color for headers */
  color: white;  /* White text for contrast */
}

/* Bar visuals */
.bar {
  height: 20px;
  background-color: #006ba1;  /* Darker shade for the progress bar */
}

button {
  background-color: #007cba;  /* Primary color for buttons */
  color: white;  /* White text for contrast */
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;  /* Rounded edges for buttons */
}

button:hover {
  background-color: #005a87;  /* Darker shade on hover */
}


.bar {
  height: 20px;
}

.bar-green {
  background-color: #4CAF50; /* green color for under 60% */
}

.bar-yellow {
  background-color: #FFC107; /* yellow color for 60% to 90% */
}

.bar-red {
  background-color: #FF0000; /* red color for 90%+ */
}

